<div class="container mt-5" style="background-color: rgb(205, 215, 226);">
  <div class="row align-items-center">
    <div class="col-12 mx-2 my-2 text-center">
      <form action="/search" class="col">
        <select class="rounded mb-2 py-2" name='category'>
          <option {{compare category '全部類別' }}>全部類別</option>
          <option {{compare category '交通出行' }}>交通出行</option>
          <option {{compare category '家居物業' }}>家居物業</option>
          <option {{compare category '餐飲食品' }}>餐飲食品</option>
          <option {{compare category '休閒娛樂' }}>休閒娛樂</option>
          <option {{compare category '其他' }}>其他</option>
        </select>
        <button type="submit" class="btn btn-outline-dark">搜尋</button>
      </form>
    </div>
  </div>

  <div class="row mx-1">
    <div class="col-12 bg-secondary rounded pt-3">
      <h4 class="text-light">總金額：</h4>
      <h1 class="text-right text-warning">$<spn class="totalAmount">{{totalAmount records}}</spn>
      </h1>
    </div>
  </div>

  <div class="row mx-1 mt-3 expense-item">
    {{#if records}}
    {{#each records}}
    <ul class="list-group w-100">
      <li class="list-group-item d-flex px-0 my-2 border-0">
        <div class="col-8 d-flex pr-0 align-items-center">
          <h2 class="ms-5" style="width: 15%;"><i class="{{this.categoryId.categoryIcon}}"></i></h2>
          <div class="flex-grow-1 ml-2 text-dark">
            <h4 class="m-0 mb-1">{{this.name}}</h4>
            <small class="d-block">{{dateFormat this.date}}</small>
          </div>
          <h4 class="m-0 text-dark text-right">{{this.amount}}</h4>
        </div>
        <div class="col-4 d-flex justify-content-center align-items-center">
          <a type="button" class="btn btn-success me-3" href="/records/{{ this._id }}">修改</a>
          <form action="/records/{{ this._id }}?_method=DELETE" method="POST"
            onclick="return confirm('確定要刪除「{{this.name}}」這筆記錄嗎？')">
            <button class="btn btn-danger ml-2" type="submit">刪除</button>
          </form>
        </div>
      </li>
    </ul>
    {{/each}}
    {{else}}
    <div class="d-flex flex-column align-items-center mx-1 mt-4 p-5 bg-light rounded">
      <h2 class="p-1">無符合條件的項目</h2>
      <p class="m-0 p-1 text-center">請點選下方「新增支出」建立你的資料<br>/ 重新篩選類別</p>
    </div>
    {{/if}}
    <div class="row my-3">
      <a class="btn btn-warning col-4 m-auto" href="/records/new">新增支出</a>
    </div>
  </div>
</div>